@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gothic A1", sans-serif
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    color: #222;

}

h2 {
    font-size: 2.8rem;
    line-height: 3.5rem;
    color: #222;
}

h4 {
    font-size: 1.2rem;
    counter-reset: #222;
}

h6 {
    font-weight: 700;
    font-size: 0.8rem;
}

p {
    font-size: 1rem;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 2.5rem 5rem;
}

.section-m1 {
    margin: 2.5rem 0;

}

button.normal {
    font-size: 0.9rem;
    font-weight: 600px;
    padding: 0.8rem 1.8rem;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
}

#banner button.normal:hover {
    background-color: #088178;
    color: #fff;

}

body {
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    display: none;
}

#close {
    display: none;
}

#hero {
    background-image: url('img/hero4.png');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    animation: slide 9s infinite;
}

@keyframes slide {
    0% {
        background-image: url('img/hero4.png');
    }

    25% {
        background-image: url('img/hangers-1850082_1280.jpg');
    }

    50% {
        background-image: url('img/online-6817350_1280.jpg');
    }

    75% {
        background-image: url('img/blog2.png');
    }

    100% {
        background-image: url('img/shopping-4000414_1280.jpg');
    }

}

#hero h4 {
    padding-bottom: 0.9rem;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url('img/button.png');
    background-color: transparent;
    color: #088178;
    border: 0;
    cursor: pointer;
    padding: 1rem 5rem 1rem 4rem;
    font-size: 1rem;
    font-weight: 700;
}

#feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#feature .featbox {
    width: 11rem;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin: 1rem 0;
    transition: 0.4s ease;
}

#feature .featbox:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 11, 0.3);
}

#feature .featbox h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;

}

#product1 {
    text-align: center;
}

.product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.2s ease;
    cursor: pointer;
    position: relative;
}

.product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);

}


.product img {
    width: 100%;
    border-radius: 20px;
}

.product .desc {
    text-align: start;
    padding: 10px 0;
}

.product .desc span {
    color: #606063;
    font-size: 0.8rem;
}

.product .desc h5 {
    padding-top: 0.5rem;
    color: #1a1a1a;
    font-size: 1rem;

}

.product .desc i {
    font-size: 0.9rem;
    color: rgb(207, 155, 13);
}

.product .desc h4 {
    padding-top: 8px;
    font-size: 1rem;
    color: #088178;
    font-weight: 700;
}

.product .cart {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

.Pcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;

}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/b2.jpg');
    height: 40vh;
    width: 100%;
}

#banner span {
    color: rgb(172, 27, 27);

}

#banner h4 {
    color: #fff;
    height: 1rem;
}

#banner h2 {
    color: #fff;
    font-size: 1.5rem;
    padding: 12px 0;
}

#smbanner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#smbanner .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url('img/b17.jpg');
    height: 30vh;
    width: 30rem;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    cursor: pointer;
}

#smbanner h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
}

#smbanner h2 {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
}

#smbanner span {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1rem;

}

#smbanner .box:hover button {
    background-color: #088178;
    border: 1px solid #fff;
    color: #fff;
}

#smbanner .box2 {
    background-image: url('img/enjoy.png');
}

#banner3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;
}

#banner3 .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url('img/o2.png');
    height: 30vh;
    min-width: 30%;
    background-size: cover;
    background-position: center;
    padding: 1.5rem;
    cursor: pointer;
    margin-bottom: 20px;

}

#banner3 h3 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
}

#banner3 span {
    color: red;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0.6rem;
}

#banner3 .sale2 {
    background-image: url('img/o1.png');
}

#banner3 .sale3 {
    background-image: url('img/shopping.jpg');
}

#news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url('img/b14.png');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    margin-top: 3rem;
}

#news h4 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

#news p {
    font-size: 1.3rem;
    font-weight: 500;
    color: #088178;
}

#news p span {
    color: #ccb90d;
}

#news .inp {
    display: flex;
    width: 45%;
}

#news input {
    height: 2.8rem;
    width: 60%;
    padding: 0 1.25em;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 300;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#news button {
    background-color: #088178;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

#footer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

#footer .col {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;

}

#footer h4 {
    font-size: 0.9rem;
    font-weight: 700;
    padding-bottom: 1.3rem;
}

#footer p {
    font-size: 0.8rem;
    margin: 0 0 8px 0;
    color: #222;
}

#footer a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #222;
    margin-bottom: 0.6rem;
}

#footer .fallow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    opacity: 0.7;
}

#footer .store img {
    border: 1px solid #088178;
    border-radius: 6px;
    cursor: pointer;
}

#footer .apps img {
    margin: 10px 0 15px 0;
}

#footer i:hover,
#footer a:hover {
    color: #088178;
}